### Imports

In [1]:
from bs4 import BeautifulSoup
import urllib3
import re
import pandas as pd
import numpy as np

import dateutil.parser as dup
from dateutil.relativedelta import *
import datetime
import string

import plotly.offline as py
from plotly import graph_objs as go
from plotly import tools as pltls
import cufflinks as cf

In [2]:
pltls.set_credentials_file(username='schakrab17', api_key='CdgzV1lTW5bcAsqyWOKL')

In [3]:
py.init_notebook_mode(connected=True)

### Scraping Web Contents

In [4]:
url_tpdl = "https://tsmc.tripura.gov.in/doc_list"

#### Function to check for any csv/pdf files embedded in the web contents

In [5]:
def getFileLinks(url,searchString):
    """
    Returns a list of links for specified file type from a web page
    
    Parameters
    ----------
    url: string, url for website to parse
    searchStringh: string, type of file to query for
    
    Returns
    -------
    listLinks: list, empty if none found
    """    
    http = urllib3.PoolManager()
    urllib3.disable_warnings()
  
    listLinks = []
    
    response = http.request('GET', url)
    soup = BeautifulSoup(response.data)

    for link in soup.findAll('a', attrs={'href': re.compile(searchString)}):
        listLinks.append(link.get('href'))
        
    return listLinks

In [6]:
getFileLinks(url_tpdl,'pdf')

[]

In [7]:
getFileLinks(url_tpdl,'csv')

['/?q=Doctor-list.csv']

#### Save File to Local

In [8]:
df_docListWeb = pd.read_csv(url_tpdl+getFileLinks(url_tpdl,'csv')[0])
df_docListWeb.head()

,Name & Father Name,Qualification / Additional Qualification/ College/University and Year thereof,Reg. No,Reg. Date,Date of Birth/Sex,State & Schedule,Address,Edit link,Delete link
0,"Dr. Tapan Kr. Bhattacharyya\r\nS/o, Lt, Tulsid...","MBBS , Armed Forces\r\nMedical College, 1977,\...",1,03/04/2012,31/12/1953 M,Tripura 1st,"DA-197,\r\nSector-1, Salt Lake City,\r\nPo. Sa...",NaN,NaN
1,"Dr.Bijoy Kar\r\nS/o, Bishnu Pada kar","MBBS, Agartala\r\nGovernment Medical\r\nColleg...",10,03/04/2012,30/04/1987 M,Tripura 1st,"Shibnagar Collage\r\nRoad,Agartala Tripura\r\n...",NaN,NaN
2,"Dr.Avipsa Das\r\nD/o, Dr.Ajay Kumar Das","MBBS, Agartala\r\nGovernment Medical\r\nColleg...",11,03/04/2012,10/08/1988 F,Tripura 1st,"47-Sarat Ghosh Garden\r\nRoad,Dhakuria South\r...",NaN,NaN
3,"Dr.Sambreeta Debbarma\r\nD/o, Dr.Sanjib Debbarma","MBBS, Agartala\r\nGovernment Medical\r\nColleg...",12,03-04-2012,15-06-1988 F,Tripura 1st,"Opp. Of Magnet Club,\r\nNear B.K. Chowmuhani,K...",NaN,NaN
4,Dr.Saswati Das\r\nD/o: Sukhlal Das,"MBBS, Agartala\r\nGovernment Medical\r\nColleg...",13,03-04-2012,16-10-1987 F,Tripura 1st,"Gangail Road,\r\nMelarmath, Agartala\r\nWest T...",NaN,NaN

In [9]:
df_docListWeb.to_csv('../data/doc_list_tripura.csv')

### Load Data

In [10]:
df_docListTripura = pd.read_csv('../data/doc_list_tripura.csv')

<h1 align='center'> Cleansing </h1>

In [11]:
df_docListTripura.columns

Index(['Unnamed: 0', 'Name & Father Name',
       'Qualification / Additional Qualification/ College/University and Year thereof ',
       'Reg. No', 'Reg. Date', 'Date of Birth/Sex', 'State & Schedule',
       'Address', 'Edit link', 'Delete link'],
      dtype='object')

In [12]:
df_docListTripura.shape

(876, 10)

In [13]:
df_docListTripura.head()

,Unnamed: 0,Name & Father Name,Qualification / Additional Qualification/ College/University and Year thereof,Reg. No,Reg. Date,Date of Birth/Sex,State & Schedule,Address,Edit link,Delete link
0,0,"Dr. Tapan Kr. Bhattacharyya\r\r\nS/o, Lt, Tuls...","MBBS , Armed Forces\r\r\nMedical College, 1977...",1,03/04/2012,31/12/1953 M,Tripura 1st,"DA-197,\r\r\nSector-1, Salt Lake City,\r\r\nPo...",NaN,NaN
1,1,"Dr.Bijoy Kar\r\r\nS/o, Bishnu Pada kar","MBBS, Agartala\r\r\nGovernment Medical\r\r\nCo...",10,03/04/2012,30/04/1987 M,Tripura 1st,"Shibnagar Collage\r\r\nRoad,Agartala Tripura\r...",NaN,NaN
2,2,"Dr.Avipsa Das\r\r\nD/o, Dr.Ajay Kumar Das","MBBS, Agartala\r\r\nGovernment Medical\r\r\nCo...",11,03/04/2012,10/08/1988 F,Tripura 1st,"47-Sarat Ghosh Garden\r\r\nRoad,Dhakuria South...",NaN,NaN
3,3,"Dr.Sambreeta Debbarma\r\r\nD/o, Dr.Sanjib Debb...","MBBS, Agartala\r\r\nGovernment Medical\r\r\nCo...",12,03-04-2012,15-06-1988 F,Tripura 1st,"Opp. Of Magnet Club,\r\r\nNear B.K. Chowmuhani...",NaN,NaN
4,4,Dr.Saswati Das\r\r\nD/o: Sukhlal Das,"MBBS, Agartala\r\r\nGovernment Medical\r\r\nCo...",13,03-04-2012,16-10-1987 F,Tripura 1st,"Gangail Road,\r\r\nMelarmath, Agartala\r\r\nWe...",NaN,NaN

#### Check for null values in the dataframe

In [14]:
df_docListTripura.isna().sum()

Unnamed: 0                                                                          0
Name & Father Name                                                                  0
Qualification / Additional Qualification/ College/University and Year thereof       0
Reg. No                                                                             0
Reg. Date                                                                           1
Date of Birth/Sex                                                                   0
State & Schedule                                                                    0
Address                                                                             0
Edit link                                                                         876
Delete link                                                                       876
dtype: int64

In [15]:
np.argwhere(df_docListTripura['Reg. Date'].isna()==True)

array([[631]], dtype=int64)

In [16]:
df_docListTripura[630:632]

,Unnamed: 0,Name & Father Name,Qualification / Additional Qualification/ College/University and Year thereof,Reg. No,Reg. Date,Date of Birth/Sex,State & Schedule,Address,Edit link,Delete link
630,630,"Dr.Rajat Goswami\r\r\nS/o, Chandan Goswami",MBBS Agartala\r\r\nGovernment\r\r\nMedical Col...,158,28-05-2012,05-08-1986 M,Tripura 1st,Vill- Durga Chowmuhani\r\r\nPo. Ramnagar- 8\r\...,NaN,NaN
631,631,"Dr.Sandip Chakraborty\r\r\nS/o, Santosh Chakra...",MBBS Agartala\r\r\nGovernment\r\r\nMedical Col...,159,NaN,02-01-1987 M,Tripura 1st,"Dhaleswar Road No-1\r\r\nPo. Dhaleswar, West\r...",NaN,NaN

In [17]:
df_docListTripura['State & Schedule'].value_counts()

Tripura, 1st      649
Tripura 1st       173
Tripura,1st        51
Tripura, 1st        1
Cancel              1
Tripura, 1st        1
Name: State & Schedule, dtype: int64

In [18]:
df_docListTripura[df_docListTripura['State & Schedule']=='Cancel']

,Unnamed: 0,Name & Father Name,Qualification / Additional Qualification/ College/University and Year thereof,Reg. No,Reg. Date,Date of Birth/Sex,State & Schedule,Address,Edit link,Delete link
727,727,Cancel,Cancel,852,Cancel,Cancel,Cancel,Cancel\r\r\n,NaN,NaN

#### Dropping 2 records (~.2%)

In [19]:
df_docListTripura.drop(index=[631,727],inplace=True)
df_docListTripura.reset_index(inplace=True)

### Temporary DataFrame for feature wise cleansing

In [20]:
df_temp = df_docListTripura.drop(['Unnamed: 0','Edit link', 'Delete link','index'],axis=1)
df_temp.shape

(874, 7)

### Gender/Age

In [21]:
temp_dob = df_temp['Date of Birth/Sex'].apply(lambda x:x.replace('M',''))
dob = temp_dob.apply(lambda x:x.replace('F',''))
gender_list = df_temp['Date of Birth/Sex'].str.contains('M').tolist()

#### Find indices of malformed dates

In [22]:
def find_malformed_dates(series_dates):
    """
    Returns a list of malformed dates from a date series
    
    Parameters
    ----------
    series_dates: pandas series, series of dates to check
    
    Returns
    -------
    indices_malformed_dates: list, empty if none found
    """ 
    
    indices_malformed_dates = []

    for i in range(0,len(series_dates)):
        try:
            str(relativedelta(datetime.date.today(),dup.parse(series_dates[i]).date()).years)
        except Exception:
            indices_malformed_dates.append(i)
            
    return indices_malformed_dates

In [23]:
find_malformed_dates(dob)

[274, 365, 410, 471, 512, 552, 593, 612, 666, 772]

In [24]:
temp_dob_1 = dob[:]

In [25]:
for index in find_malformed_dates(temp_dob_1):
    print (index,temp_dob_1[index])

274 19/1967/
365 22/28/1978/
410 136/3/1991/
471 15-011988
512 16/13/1991/
552 25/13/1961/
593 16/-6/1991/
612 15/ 01/1991/
666 20/106/1985/
772 28/091989/

#### Manual imputation of malformed dates

In [26]:
temp_dob_1[274]='1/9/1967'
temp_dob_1[365]='12/18/1978'
temp_dob_1[410]='13/3/1991'
temp_dob_1[471]='15/01/1998'
temp_dob_1[512]='16/3/1991'
temp_dob_1[552]='25/12/1961'
temp_dob_1[593]='16/6/1991'
temp_dob_1[612]='15/1/1991'
temp_dob_1[666]='20/10/1985'
temp_dob_1[772]='28/09/1989'

In [27]:
list_age_sex = []

for i in range(0,len(temp_dob_1)):

    if gender_list[i]==True:
        list_age_sex.append('Male'+':'+str(relativedelta(datetime.date.today(),dup.parse(dob[i]).date()).years))
    else:
        list_age_sex.append('Female'+':'+str(relativedelta(datetime.date.today(),dup.parse(dob[i]).date()).years))

In [28]:
age_series = pd.DataFrame([x.split(":") for x in list_age_sex])[0]
sex_series = pd.DataFrame([x.split(":") for x in list_age_sex])[1]

### Registration Year

In [29]:
find_malformed_dates(df_temp['Reg. Date'])

[]

In [30]:
registration_year_series = df_temp['Reg. Date'].apply(lambda x:dup.parse(x).date().year)

### Qualification

In [31]:
temp_qual_series = df_temp['Qualification / Additional Qualification/ College/University and Year thereof '].apply(lambda x:re.sub('['+string.punctuation+']', '', x).strip().splitlines())

In [32]:
temp_qual_series_1 = temp_qual_series.apply(lambda x:' '.join((' '.join(x)).split()))

In [33]:
temp_qual_df = pd.DataFrame(temp_qual_series_1.str.contains('MBBS'))

In [34]:
for i in range(0,len(temp_qual_df)):
    if temp_qual_df['Qualification / Additional Qualification/ College/University and Year thereof '][i]==False:
        print(i,temp_qual_series_1[i])

110 M B B S Sambalpur University 1983
117 M B B S Sambalpur University 1980
118 M B B S Sambalpur University 1987
158 MBBB Gauhati University 1979 MSGeneral Surgery Manipur University 1991
397 MBbs Regional Medical College Imphal Manipur University 1993 MD MicrobiologyMG Institute of Medical Sciences Maharastra of Health Sciences 2014
783 MD Physician from Volgograd Medical Academy Russian Federation 2011

In [35]:
temp_qual_series_2 = temp_qual_series_1.apply(lambda x:x.replace('M B B S','MBBS').replace('MBbs','MBBS').replace('MBBB','MBBS'))

In [36]:
temp_qual_series_2.str.contains('MBBS').value_counts()

True     873
False      1
Name: Qualification / Additional Qualification/ College/University and Year thereof , dtype: int64

#### temp_qual_series_2[783] has no basic qualification only additional viz. MD is provided

In [37]:
temp_qual_series_2[783]

'MD Physician from Volgograd Medical Academy Russian Federation 2011'

### Considering no break in studies MBBS should be completed at the highest resolution by 2008

In [38]:
temp_qual_series_3 = temp_qual_series_2[:]
temp_qual_series_3[783] = 'MBBS 2008 '+temp_qual_series_2[783]

In [39]:
temp_qual_series_3.str.contains('MBBS').value_counts()

True    874
Name: Qualification / Additional Qualification/ College/University and Year thereof , dtype: int64

In [40]:
temp_qual_list = temp_qual_series_3.apply(lambda x:list(filter(None,re.split(r'[0-9{4}].*?',x))))

In [41]:
list_basic_qualification = []
list_additional_qualification = []

for item in temp_qual_list:
    if len(item)==1:
        list_basic_qualification.append(item[0].strip())
        list_additional_qualification.append('')
    else:
        list_basic_qualification.append(item[0].strip())
        list_additional_qualification.append(item[1].strip())

In [42]:
basic_qualification_series = pd.Series(list_basic_qualification)
additional_qualification_series = pd.Series(list_additional_qualification)

### Address

#### Fetch India City and State Mapping from https://www.census2011.co.in/city.php

In [43]:
dataframes_census_city_state = pd.read_html('https://www.census2011.co.in/city.php')
dataframes_census_states = pd.read_html('https://www.census2011.co.in/states.php')

In [44]:
for dataframe in dataframes_census_city_state:
    print(dataframe.shape)

(498, 7)
(5, 3)
(6, 3)
(5, 3)

In [45]:
for dataframe in dataframes_census_states:
    print(dataframe.shape)

(36, 8)
(5, 3)
(5, 3)
(5, 3)

In [46]:
dataframes_census_city_state[0][['City','State']].to_csv('../data/india_city_states.csv')
dataframes_census_states[0]['State'][1:].to_csv('../data/india_states.csv')

In [47]:
df_city_state_mapping = pd.read_csv('../data/india_city_states.csv')
df_city_state_mapping.drop('Unnamed: 0',axis=1,inplace=True)

In [48]:
df_states = pd.read_csv('../data/india_states.csv',header=None)
df_states.drop(0,axis=1,inplace=True)
df_states.columns = ['State']

In [49]:
temp_address = df_temp['Address'].apply(lambda x:re.sub('['+string.punctuation+']', '', x).strip().splitlines())
temp_address_1 = temp_address.apply(lambda x:' '.join((' '.join(x)).split()))

In [50]:
list_temp_address = [x.lower() for x in temp_address_1]
list_temp_cities = [x.lower() for x in df_city_state_mapping.City]
list_temp_states = [x.lower() for x in df_city_state_mapping.State]
list_temp_states_1 = [x.lower() for x in df_states.State]

In [51]:
city_state_dict = dict(zip(list_temp_cities,list_temp_states))
state_list = set(list_temp_states_1)

In [52]:
len(set(df_city_state_mapping.City))

497

In [53]:
df_city_state_mapping[df_city_state_mapping.City.str.contains('Aurangabad')]

           City        State
31   Aurangabad  Maharashtra
485  Aurangabad        Bihar

In [54]:
address_list = []
indices = []

for i in range(0,len(list_temp_address)):
    
    foundinstatelist=0
    
    for state in state_list:
        if state in list_temp_address[i]:
            address_list.append(state)
            indices.append(i)
            foundinstatelist=1
            break
        
    #print(foundinstatelist,list_temp_address[i])
    
    if foundinstatelist==0:  
        for city in city_state_dict.keys():
            if city in list_temp_address[i]:
                address_list.append(city_state_dict[city])
                indices.append(i)
                break

In [55]:
len(address_list)

815

In [56]:
len(list_temp_address)

874

In [57]:
temp_missing_addresses_indices = set(range(min(indices), max(indices)+1))
missing_address_indices = (list(set(indices).symmetric_difference(temp_missing_addresses_indices)))

In [58]:
len(indices)

815

In [59]:
len(missing_address_indices)

59

In [60]:
for index in missing_address_indices:
    print(list_temp_address[index])

abhoy nagar near hindi hs school poabhoy nagar
co basanti debbarma pokathalbagaban malanc haniba
villhardia pohardia distsitamarhi
vill nayanpur by lane no2 house no1ganeshguri
vill podharma pur dist north 24 pgs
villujan abhoynagarpo abhoynagar
vill sonatan thakur parap o takarjala dist sepahijala
villbhandari bari west champa hour pochampa hourkhowai
villmadhyapara porkpurdist gomati
vill – khwai brahmapur nagamapal ipphol west 795001
villnoagaon near kamalpur sub jailpo kamalpurdisttdholai
sky lake club krishnagaragatala
dharia thalramnagardist sepahijala
town rajabag r k pur dist gomati udaypur
588 1st cross t r colonoy prima nagar wata tank bangalor
vill bhanu para subdivision karbook po goumati projectdist goumati
vill kallumala po mavelikara dist alleppey
north badharghat near milon sanghapoadnagaragt
vill routhkhala po bishalgarh dist sepahijala
vill thakurmura sonamura po sonamura dist sepahijala
tc 261682 leel cottage unnis lane po uppalam road dist trivandrum 695001
villhatigaon po dispur dist kamrup
nripendra ch avenukhowaidist khowai
chandarmma po battalaps sonamuradist sepahijala
ntu villageperen
kambawest siang
lebridumporijoap
vill kandigram po manik bhander ps kamalpur
po radhakrishnapur vill udaypur dist gomati
khim u sriong vill jowai town dist west jaintia hills pin 793150
kala ppurakkal gloria puthukkudi road po manjeri 676121 dist malappuram
vill punya ps falta po sahararghat dist south 24 parganas pin 743504
house no 243 kamala nagar ii vill chawngte po chawngte dist lawngtear 796772
vill gabindapur old motorstand po kailashahar dist unakoti
vill dudhpuskarini po jamjuri dist gomoti
co life medical dakshinchuburi po sipajhar dist darrang
palace compound akash lane agartal
mohanpur naba shanti garja basan siphahijala
vill madhya singichera po singhichera dist khowau
villmaracheradist dholai
vill lankapura po chankhola dist khowai
lankapara po chhankhaladist khowai
heigang pantholbilampakpo mantri pukurdist impahal east
gouranga tillapoteliamura dist khowai
mendi hour kamalpur dist dholai
dhankali dist nagour rajesthan
nepaltilla chailengta dist dholai
laxmi narayan pur po gouranga
main road near rajrappa more po chitarpur dist ramgarh
noagaon kamalpurdholai
north excharinutan bazar karbookjatanbarigomati
villcharganki khowai
e5 iii rabindra pally govt qtr complex paradise communition agartal
35 ghandi nagar barailly
79 tilla housing complex room no a3012nd floor po kunjaban pin 799001
vill po noagaon ps kamalpur dist dhalai
capital complex typeii g block qtr no 4 po kunjaban
vill kalung p o ziro dist lawer subansiri
sarath palli road east shibnagar college tilla post office

In [61]:
pd.Series(address_list).value_counts()

tripura              705
west bengal           25
manipur               19
assam                 14
uttar pradesh          7
haryana                6
kerala                 5
nagaland               5
rajasthan              5
madhya pradesh         4
delhi                  3
tamil nadu             3
mizoram                2
meghalaya              2
arunachal pradesh      2
andhra pradesh         2
jharkhand              1
chandigarh             1
orissa                 1
bihar                  1
gujarat                1
chhattisgarh           1
dtype: int64

### Build dataframe for analysis

In [62]:
temp_data_doc = {'Reg. Year':registration_year_series,'Sex':age_series,'Age':sex_series,'Basic Qualification':basic_qualification_series,'Additional Qualification':additional_qualification_series}
df_temp_data_doc = pd.DataFrame(data=temp_data_doc)

In [63]:
df_temp_data_doc.head()

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification
0,2012,Male,65,MBBS Armed Forces Medical College,MD OBST GYNAE Poona University
1,2012,Male,31,MBBS Agartala Government Medical College Tripu...,
2,2012,Female,30,MBBS Agartala Government Medical College Tripu...,
3,2012,Female,30,MBBS Agartala Government Medical College Tripu...,
4,2012,Female,31,MBBS Agartala Government Medical College Tripu...,

#### Dropping malformed addresses

In [64]:
df_data_doc = df_temp_data_doc.drop(missing_address_indices)

In [65]:
df_data_doc['State']=address_list

In [66]:
df_data_doc.to_csv('../data/doc_list_cleaned.csv')

In [67]:
df_doc = pd.read_csv('../data/doc_list_cleaned.csv')
df_doc.drop('Unnamed: 0',axis=1,inplace=True)

In [68]:
df_doc.shape

(815, 6)

In [69]:
len(set(list(df_doc.State.value_counts().keys())))

22

In [70]:
df_doc.State.value_counts()

tripura              705
west bengal           25
manipur               19
assam                 14
uttar pradesh          7
haryana                6
kerala                 5
nagaland               5
rajasthan              5
madhya pradesh         4
delhi                  3
tamil nadu             3
mizoram                2
meghalaya              2
arunachal pradesh      2
andhra pradesh         2
jharkhand              1
chandigarh             1
orissa                 1
bihar                  1
gujarat                1
chhattisgarh           1
Name: State, dtype: int64

In [71]:
df_doc['Reg. Year'].value_counts()

2014    380
2015    185
2012    159
2013     85
201       3
2016      2
1990      1
Name: Reg. Year, dtype: int64

In [72]:
np.argwhere(df_doc['Reg. Year']==201)

array([[560],
       [561],
       [563]], dtype=int64)

In [73]:
df_doc.iloc[563]

Reg. Year                                                                 201
Sex                                                                      Male
Age                                                                        27
Basic Qualification         MBBS Tripura Medical College Dr BRAM Traching ...
Additional Qualification                                                  NaN
State                                                                 tripura
Name: 563, dtype: object

### Further Cleansing

In [74]:
df_doc[df_doc['Reg. Year'] == 201]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
560,201,Male,27,MBBS Agartala Government Medical College Tripu...,NaN,tripura
561,201,Male,27,MBBS Agartala Government Medical College Tripu...,NaN,tripura
563,201,Male,27,MBBS Tripura Medical College Dr BRAM Traching ...,NaN,tripura

In [75]:
df_doc.at[560, 'Reg. Year'] = 2014
df_doc.at[561, 'Reg. Year'] = 2014
df_doc.at[563, 'Reg. Year'] = 2014

In [76]:
df_doc['Reg. Year'].value_counts()

2014    383
2015    185
2012    159
2013     85
2016      2
1990      1
Name: Reg. Year, dtype: int64

In [77]:
np.argwhere(df_doc['Reg. Year']==1990)

array([[558]], dtype=int64)

In [78]:
df_doc[df_doc['Age']==31]['Reg. Year'].value_counts()

2012    55
2014    17
2013    12
2015     5
1990     1
Name: Reg. Year, dtype: int64

In [79]:
df_doc.at[558, 'Reg. Year'] = 2012

In [80]:
np.argwhere(df_doc['Age']>100)

array([[181],
       [756]], dtype=int64)

In [81]:
np.argwhere(df_doc['Age']<10)

array([[588]], dtype=int64)

In [82]:
df_doc.at[756,'Age']=26

In [83]:
df_doc.at[756, 'Age']

26

In [84]:
df_doc.at[756, 'Age']='29'

In [85]:
df_doc.at[181, 'Age']

1819

In [86]:
df_doc.at[181,'Age']=24

In [87]:
df_doc.at[588,'Age']=26

### Specialization Cleansing

In [88]:
(list(df_doc['Additional Qualification'].value_counts().keys()))

['MD Anatomy Manipur University',
 'MD Anaesthesiology Tripura University',
 'MDAnatomy Manipur University',
 'DOG Under Calcutta University',
 'MD General MedicineManipur University',
 'MD Paed Manipur University',
 'DMCW University of Calcutta',
 'MS General Surgery Manipur University',
 'MD Psychiatry Manipur University',
 'DMCW Calcutta University',
 'MSObstetrics Gynaecology Manipur University',
 'MD Psychiatry Tripura University',
 'MDAnaes Tripura University',
 'Diploma in Sport Medicine Under Panijala University',
 'MSophthalmologyUniversity of Luknow',
 'MDGeneral Medicine Banaras Hindu University',
 'DGO Calcutta University',
 'MSOrthopaedic Manipur University',
 'MD Dermatology Venereology AIIMS New Delhi',
 'MDENTTripura University',
 'MS ENT Tripura University',
 'MDPathology Nagpur University',
 'MS Gen Sur Under Calcutta University',
 'MS ENT University of Allhabad',
 'Diploma in Ophthalmology Gauhati University',
 'University',
 'MD Paed Tripura University',
 'PGDDRM National Institute for the Orthopaedically Handicapped',
 'DNB OG National Board of Examination',
 'MD Community Medicine Tripura University',
 'MSObst Gyane Tripura University',
 'PG Diploma in Anaesthesiology Manipur University',
 'Diploma in Ophthalmic Medicine Surgery from Chhatrapati Shahuji Maharaj University Kanpur',
 'MDFMT AIIMS New Delhi',
 'M S General Surgery Manipur University',
 'MD Community MedicineManipur University',
 'MS Ophthalmology Dibrugarh University',
 'DLO Saurashtra University',
 'PGD In Diabetilogy',
 'MBBS Regional Institute of Medical Sciences Imphal Manipur University',
 'MD Laboratory MedicineAIIMS New Delhi',
 'MDGenMedicine Manipur University',
 'MSGeneral Surgery Calcutta University',
 'DGO Calcitta University',
 'MD Paed Ranchi University',
 'MDPaediatrics Manipur University',
 'MD Radiothrapy AIIMSNew Delhi',
 'MD Community MedicineTripura University',
 'MD Paediatrics PIGMER Chandigarh',
 'MD Manipur University',
 'Diploma in Sports Medicine Punjabi University',
 'MSObstetrics Gynaecology',
 'MD RIMS Manipur University',
 'MS University of Delhi',
 'MD PsychiatrySS University of Health Sciences',
 'Diploma in Anaesthesiology Manipur University',
 'MS Obsts Gynae Srimanta Sankardeva University of Health Sciences',
 'DGO Rani Durgavati Vishwavidyalaya Jabalpur',
 'DGOThe College of Physicians and Surgeons of Bombay',
 'MDGenMedicines West Bengal University of Health Sciences',
 'MSOphthalmologyManipur University',
 'MDForensic Medicine Nagpur University',
 'MDPharmacology Manipur University',
 'DPM in Ranchi Unuversity',
 'MS Orthopaedics Calcutta University',
 'MS General SurgeryThe Tamil Nadu Dr MGR Medical University',
 'MD JN Medical Collage Under Karnataka University',
 'MS General Surgery Dibrugarh University',
 'MS General Medicine Manipur University',
 'Dip Child HealthU Rajiv Gandhi H Sciences',
 'MD MicrobiologyMG Institute of Medical Sciences Maharastra of Health Sciences',
 'MSManipur University',
 'MS Surgery Tripura University',
 'MSENT AIIMS New Delhi',
 'MD MedicineNagpur University',
 'DCPManipur University',
 'MD Phychiatry Dibrugarh University May',
 'MD Pshy NIMHANS Bangalor Bangalore University',
 'MDBioChemistryManipur University',
 'MD Paediatrics The All In dia Institute of Medical Science',
 'MD Paediatrics Manipur University',
 'MD Community Medicine Dibrugarh University',
 'DPM In Psychiatry Maharashtra University of Health Sciences Nashik',
 'DLO ENT Gauhati University',
 'DCH U Delhi',
 'MD OBST GYNAE Poona University',
 'MD Forensic Medicine Manipur University',
 'MDObstetrics and Gynaecology Manipal University',
 'MD Paed SMSMC Jaipur Uner Rajesthan University of Health Science',
 'DMCW Under Calcutta University',
 'MS General Surgery Dr NTR University of Health Sciences',
 'MD Paediatrics Kanpur University',
 'Diploma in Publice Health University of Calcutta',
 'MSOrtho U Calcutta',
 'MDPaediatrics Rajasthan University',
 'Diploma in OphthalmologyMG Institute of Medical Sciences Sevagram',
 'MD Pharmacology RIMS Manipur University',
 'MDAnaesthesiology Regional Institute of Medical Sciences Imphal Manipur University',
 'Diploma in Maternity and Child Welfare university of Calcutta',
 'DLO Calcutta University',
 'MSGeneral Surgery Manipur University',
 'PG Diploma Anaesthesiology ManipurUniversity',
 'MD Pathology Manipal University',
 'Post Graduate Diploma in Orthopaedics Nagpur University',
 'MD Medicine University of Maharshi Dayanand',
 'MDENT Manipur University',
 'DPMPsychiatryAssam University',
 'MS OrthopaedicsManipur University',
 'MDGenMedicinesAPS University',
 'MSOto Rhino Laryngology Maharashtra University of Health Sciences Nashik',
 'MDMicrobiology University of Nagpur',
 'MD Manipur Universisty',
 'MSGen Surgery Regional Institute of Medical Sciences Imphal Manipur University',
 'DGO Obs Gynae Venkateswara University',
 'MDPhysiologyManipur University',
 'DPH Calcutta University',
 'MD BioChem Manipur University',
 'MSOtorhinolaryngology Manipur University',
 'MD Calcutta University',
 'MS Ophthalmology Patna University',
 'DPH University of Calcutta',
 'MDDermatology Venereology Leprosy Manipur University',
 'MD Radio Diagnosis Tripura University',
 'DARegional Institute of Medical Sciences Imphal Manipur University',
 'MDPathology Bhopal University',
 'MD General Medicine Manipur University',
 'MD Radio diagTripura University',
 'MD Obstetrics Gynaecology Manipur University',
 'MD Pathology DY Patil University',
 'MS General SurgeryUniversity of Calcutta',
 'MSAnatomy Dib University',
 'DCP Under Calcutta University',
 'DCP Manipur University',
 'MD Physician from Volgograd Medical Academy Russian Federation',
 'DRM University of Bombay',
 'MD Community Medicine Manupur University',
 'D Ortho Under Calcutta University',
 'Diploma in Medical Radiology Therapeutic Calcutta University',
 'MDPhysiologyDeemed University',
 'MSOpthalmology Manipur University',
 'MSGenral Surgery Manipur University',
 'DC P Tropical Medicine Calcutta',
 'MD Microbiolory Tripura University',
 'MD RIMS Imphal Under Manipur University',
 'MDobst Gynae Calcutta University',
 'DO OpthalmologyGauhati University',
 'MSOtorhinolaryngologyManipur University',
 'MSOrtho Tripura University',
 'MD Anatomy Rajib Gandhi Universityof Health Sciences']

In [89]:
list_specialization = [np.NaN]*len(df_doc)

In [90]:
specialization_indices = (df_doc[df_doc['Additional Qualification'].isin(list(df_doc['Additional Qualification'].value_counts().keys()))==True]).index
for index in specialization_indices:
    list_specialization[index]='Other'

#### Anatomy

In [91]:
df_doc[df_doc['Additional Qualification'].str.contains('Anatomy')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
130,2014,Male,34,MBBS Regional Institute of Medical Sciences Im...,MDAnatomy Manipur University,tripura
139,2014,Male,33,MBBS Regional Institute of Medical Sciences Im...,MDAnatomy Manipur University,tripura
205,2014,Female,38,MBBS MBBS Regional Institute of Medical Scienc...,MD Anatomy Manipur University,tripura
206,2014,Female,37,MBBS MBBS Regional Institute of Medical Scienc...,MD Anatomy Manipur University,tripura
208,2014,Male,49,MBBS MBBS Regional Institute of Medical Scienc...,MD Anatomy Manipur University,tripura
229,2014,Male,48,MBBS University of Gauhati,MSAnatomy Dib University,assam
584,2015,Female,31,MBBS Agartala Government Medical College Tripu...,MD Anatomy Rajib Gandhi Universityof Health Sc...,tripura

In [92]:
anatomy_indices = df_doc[df_doc['Additional Qualification'].str.contains('Anatomy')==True].index
for index in anatomy_indices:
    list_specialization[index]='Anatomy'

#### Paediatrics/Child Health/Maternity and Child

In [93]:
df_doc[df_doc['Additional Qualification'].str.contains('Paed|Child|child|DCH|DMC')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
11,2012,Male,73,MBBS Osmania University,MD Paediatrics The All In dia Institute of Med...,manipur
106,2014,Male,54,MBBS University of Kerala,MDPaediatrics Manipur University,tripura
107,2014,Male,58,MBBS Burdwan University,MD Paediatrics PIGMER Chandigarh,tripura
108,2014,Male,59,MBBS Regional Medical College Imphal Manipur U...,MD Paediatrics Manipur University,tripura
119,2014,Male,43,MBBS U Manipur,DCH U Delhi,tripura
143,2014,Male,62,MBBS Berhampur University,Diploma in Maternity and Child Welfare univers...,tripura
147,2014,Male,43,MBBS University of Manipur,Dip Child HealthU Rajiv Gandhi H Sciences,tripura
214,2014,Male,58,MBBS Kanpur University,MD Paediatrics Kanpur University,tripura
242,2014,Female,55,MBBS University of Calcutta,DMCW University of Calcutta,tripura
252,2014,Male,39,MBBS JLN Medical CollegeRajasthan University,MDPaediatrics Rajasthan University,tripura
293,2014,Male,63,MBBS Regional Medical College Imphal Manipur U...,DMCW Calcutta University,tripura
307,2014,Male,48,MBBS Regional Medical College Imphal Manipur U...,MD Paed Manipur University,tripura
319,2014,Male,63,MBBS Lucknow University,MD Paed Ranchi University,tripura
321,2014,Male,55,MBBS Regional Medical College Imphal Manipur U...,MD Paed Manipur University,tripura
341,2014,Male,55,MBBS North Bengal University,DMCW University of Calcutta,tripura
351,2014,Male,56,MBBS Punjabi University,DMCW Calcutta University,tripura
367,2014,Male,33,MBBS Rajasthan University,MD Paed Tripura University,tripura
672,2013,Male,63,MBBSUnder Guwahati University,DMCW Under Calcutta University,tripura
684,2013,Male,33,MBBSPt BDSPGIMS RothakMahanshi Dayananda,MD Paed SMSMC Jaipur Uner Rajesthan University...,tripura

In [94]:
paediatric_indices = df_doc[df_doc['Additional Qualification'].str.contains('Paed|Child|child|DCH|DMC')==True].index
for index in paediatric_indices:
    list_specialization[index]='Paediatrics/Child Health/Maternity and Child'

#### Surgery

In [95]:
df_doc[df_doc['Additional Qualification'].str.contains('Sur')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
66,2012,Male,61,MBBS from Regional Medical College Imphol Manipur,Diploma in Ophthalmic Medicine Surgery from Ch...,tripura
104,2014,Male,62,MBBS Guru Nanak Dev University,M S General Surgery Manipur University,tripura
151,2014,Male,63,MBBS Gauhati University,MSGeneral Surgery Manipur University,tripura
198,2016,Male,40,MBBS Regional Institute of Medical Sciences Im...,MS General Surgery Dr NTR University of Health...,tripura
237,2014,Male,42,MBBS Gorakhpur University,MSGenral Surgery Manipur University,tripura
257,2014,Male,64,MBBS Gauhati University,MS General Surgery Dibrugarh University,tripura
329,2014,Male,52,MBBS Regional Medical College Imphal Manipur U...,MS General Surgery Manipur University,tripura
330,2014,Male,64,MBBS Silchar Merdical CollegeGauhati University,MSGeneral Surgery Calcutta University,tripura
360,2014,Male,45,MBBS Deen Dayal Upadhyay Gorakhpur University,MS Surgery Tripura University,tripura
364,2014,Male,65,MBBS Maharshi Dayanand University,MS General SurgeryThe Tamil Nadu Dr MGR Medica...,tripura
382,2015,Male,35,MBBS Manipur University,MS General Surgery Manipur University,tripura
525,2015,Male,40,MBBS Regional Institute of Medical Sciences Im...,MSGen Surgery Regional Institute of Medical Sc...,tripura
695,2014,Male,65,MBBS Sambalpur University,MS Gen Sur Under Calcutta University,tripura
713,2014,Male,63,MBBS Karnatak University,MS General SurgeryUniversity of Calcutta,tripura
795,2014,Male,74,MBBS Gauhati University,DGOThe College of Physicians and Surgeons of B...,manipur

In [96]:
surgery_indices = df_doc[df_doc['Additional Qualification'].str.contains('Sur')==True].index

### Not selecting index 795 as the physician is a DGO but since he went to The College of Physicians and Surgeons, Manipur, he is getting picked up in the keyword search

for index in surgery_indices:
    if index != np.int64(795):
        list_specialization[index]='Surgery'

#### Gynaecology/Obstetrics

In [97]:
df_doc[df_doc['Additional Qualification'].str.contains('GO|Gyn|Obs|GYN|DOG|OG')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
0,2012,Male,65,MBBS Armed Forces Medical College,MD OBST GYNAE Poona University,west bengal
109,2014,Male,34,MBBS Regional Institute of Medical Sciences Im...,MSObstetrics Gynaecology Manipur University,tripura
129,2014,Male,38,MBBS Regional Institute of Medical Sciences Im...,MSObstetrics Gynaecology Manipur University,tripura
303,2014,Female,37,MBBS NSCB Medical CollegeUniversity of RDVV Ja...,DNB OG National Board of Examination,tripura
334,2014,Female,34,MBBSTrivundam Medical CollegeKeralaUniversity,MS Obsts Gynae Srimanta Sankardeva University ...,tripura
337,2014,Male,68,MBBS Mysore Medical CollegeMysore University,DGO Calcutta University,tripura
344,2014,Male,61,MBBS Sri Venkateswara University,DGO Obs Gynae Venkateswara University,tripura
529,2015,Male,67,MBBS Patna University,DGO Calcitta University,tripura
564,2015,Female,31,MBBS The West Bengal University of Health Scie...,MSObst Gyane Tripura University,delhi
669,2013,Male,65,MBBSMKCGMC Under Berhampur University,DOG Under Calcutta University,tripura
675,2013,Male,56,MBBS NB University,DOG Under Calcutta University,west bengal
705,2014,Male,63,MBBS VSSMedical CollegeSambalpur University,MDObstetrics and Gynaecology Manipal University,tripura
716,2014,Male,36,MBBSRani Durgavati Vishwavidyalaya Jabalpur,DGO Rani Durgavati Vishwavidyalaya Jabalpur,tripura
718,2014,Male,66,MBBS Karnatak University,MDobst Gynae Calcutta University,tripura
719,2014,Female,48,MBBS LN Mithila University,MSObstetrics Gynaecology,tripura
777,2014,Male,28,MBBS Regional Medical College Imphal Manipur U...,MD Obstetrics Gynaecology Manipur University,tripura
795,2014,Male,74,MBBS Gauhati University,DGOThe College of Physicians and Surgeons of B...,manipur

In [98]:
gynae_indices =df_doc[df_doc['Additional Qualification'].str.contains('GO|Gyn|Obs|GYN|DOG|OG')==True].index
for index in gynae_indices:
    list_specialization[index]='Gynaecology/Obstetrics'

#### Psychiatry

In [99]:
df_doc[df_doc['Additional Qualification'].str.contains('Ps|Phyc')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
69,2012,Male,38,MBBS Gauhati Medical College GuwahatiUniversit...,MD Phychiatry Dibrugarh University May,west bengal
228,2014,Male,34,MBBS BRD Medical College Gorakhpur University ...,MD PsychiatrySS University of Health Sciences,tripura
314,2014,Male,42,MBBS Regional Institute of Medical Sciences Im...,DPM In Psychiatry Maharashtra University of He...,tripura
335,2014,Male,45,MBBSSilchar Medical CollegeAssam University,DPMPsychiatryAssam University,tripura
366,2014,Male,33,MBBS North Bengal Medical College,MD Psychiatry Tripura University,west bengal
702,2014,Male,62,MBBSRIMS Under Imphal University,MD Pshy NIMHANS Bangalor Bangalore University,tripura
725,2014,Male,48,MBBSRegional Institute of Medical SciencesImph...,MD Psychiatry Manipur University,tripura
810,2014,Male,51,MBBS North Eastern Regional Medical College Im...,MD Psychiatry Manipur University,tripura

In [100]:
psychiatry_indices = df_doc[df_doc['Additional Qualification'].str.contains('Ps|Phyc')==True].index
for index in psychiatry_indices:
    list_specialization[index]='Psychiatry'

#### Physiology

In [101]:
df_doc[df_doc['Additional Qualification'].str.contains('Physio|physio')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
231,2014,Male,29,MBBS Manipur University,MDPhysiologyManipur University,tripura
704,2014,Male,47,MBBS Calcutta University,MDPhysiologyDeemed University,tripura

In [102]:
physiology_indices = df_doc[df_doc['Additional Qualification'].str.contains('Physio|physio')==True].index
for index in physiology_indices:
    list_specialization[index]='Physiology'

#### Opthalmology

In [103]:
df_doc[df_doc['Additional Qualification'].str.contains('Op|oph|Oph')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
66,2012,Male,61,MBBS from Regional Medical College Imphol Manipur,Diploma in Ophthalmic Medicine Surgery from Ch...,tripura
150,2014,Male,57,MBBS University of Luknow,MSophthalmologyUniversity of Luknow,tripura
153,2014,Male,47,MBBS Meerut University,MSOphthalmologyManipur University,west bengal
217,2014,Male,62,MBBS Sambalpur University,MSOpthalmology Manipur University,tripura
230,2014,Male,48,MBBS Manipur University,Diploma in OphthalmologyMG Institute of Medica...,tripura
239,2014,Male,50,MBBS Magadh University,MS Ophthalmology Patna University,tripura
277,2014,Male,62,MBBS Assam Medical CollegeDibrugarh University,DO OpthalmologyGauhati University,tripura
726,2014,Male,39,MBBS Gauhati Medical College Gauhati University,MS Ophthalmology Dibrugarh University,tripura
729,2014,Male,63,MBBS Karnatak University,Diploma in Ophthalmology Gauhati University,tripura

In [104]:
opthalmology_indices = df_doc[df_doc['Additional Qualification'].str.contains('Op|oph|Oph')==True].index

### Discarding #66, considering in class Surgery

for index in opthalmology_indices:
    if index != np.int64(66):
        list_specialization[index]='Opthalmology'

In [105]:
list_specialization[217]

'Opthalmology'

#### Radiology/Radio Diagnosis/Radiation Medicine

In [106]:
df_doc[df_doc['Additional Qualification'].str.contains('Rad|DRM')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
132,2014,Male,59,MBBS University of Kerala,PGDDRM National Institute for the Orthopaedica...,tripura
160,2014,Male,42,MBBS University of Rajasthan Jaipur,MD Radio Diagnosis Tripura University,tripura
320,2014,Male,58,MBBS Ranchi University,MD Radiothrapy AIIMSNew Delhi,tripura
323,2014,Male,45,MBBSManipur University,MD Radio diagTripura University,tripura
332,2014,Male,61,MBBS Assam Medical ColleeDibrugarh University,DRM University of Bombay,tripura
796,2014,Male,70,MBBS Calcutta University,Diploma in Medical Radiology Therapeutic Calcu...,tripura

In [107]:
radiation_indices = df_doc[df_doc['Additional Qualification'].str.contains('Rad|DRM')==True].index

### Dropping #132, considering in class Orthopaedics

for index in radiation_indices:
    if index != np.int64(132):
        list_specialization[index]='Radiology/Radio Diagnosis/Radiation Medicine'

#### Otorhinolaryngology/ENT

In [108]:
df_doc[df_doc['Additional Qualification'].str.contains('laryn|DLO|Laryn|ENT')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
127,2014,Male,40,MBBS Regional Institute of Medical Sciences Im...,MSOtorhinolaryngology Manipur University,tripura
140,2014,Male,48,MBBS Barkatullah Viswabidyalaya Bhupal,MS ENT Tripura University,tripura
172,2014,Female,41,MBBSSaurashtra University,DLO Saurashtra University,tripura
211,2014,Male,50,MBBS Meerat Unineversity,MS ENT University of Allhabad,tripura
278,2014,Female,32,MBBS Silchar Medical College Gauhati University,DLO ENT Gauhati University,tripura
281,2014,Male,33,MBBS Gorakhpur University,MDENTTripura University,tripura
316,2014,Male,54,MBBS Regional Medical College Imphal Manipur U...,MSENT AIIMS New Delhi,tripura
318,2014,Male,64,MBBS Assam Medical ColleeDibrugarh University,DLO Calcutta University,tripura
328,2014,Male,37,MBBS Maharashtra University of Health Sciences...,MSOto Rhino Laryngology Maharashtra University...,tripura
577,2015,Male,36,MBBS Manipur University,MDENT Manipur University,tripura
799,2014,Male,53,MBBS Regional Medical College Imphal Manipur U...,MSOtorhinolaryngologyManipur University,tripura

In [109]:
ent_indices = df_doc[df_doc['Additional Qualification'].str.contains('laryn|DLO|Laryn|ENT')==True].index
for index in ent_indices:
    list_specialization[index]='Otorhinolaryngology/ENT'

#### Pathology/Clinical Pathology

In [110]:
df_doc[df_doc['Additional Qualification'].str.contains('Path|DCP|path')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
145,2014,Male,33,MBBS Rajib Gandhi University of Health Science,MD Pathology DY Patil University,tripura
155,2014,Male,53,MBBS University of Rajasthan,MDPathology Nagpur University,tripura
156,2014,Male,59,MBBS Bhopal University,MDPathology Bhopal University,tripura
170,2014,Male,60,MBBS Manipur University,DCPManipur University,tripura
275,2014,Female,43,MBBS Regional Institute of Medical SciencesImp...,DCP Manipur University,tripura
543,2015,Male,32,MBBS Agartala Government Medical College Tripu...,MD Pathology Manipal University,tripura
668,2013,Male,64,MBBS RMC Imphal Under Guwahati,DCP Under Calcutta University,tripura

In [111]:
pathology_indices = df_doc[df_doc['Additional Qualification'].str.contains('Path|DCP|path')==True].index
for index in pathology_indices:
    list_specialization[index]='Pathology/Clinical Pathology'

#### Orthopeadics

In [112]:
df_doc[df_doc['Additional Qualification'].str.contains('Orth|orth')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
132,2014,Male,59,MBBS University of Kerala,PGDDRM National Institute for the Orthopaedica...,tripura
133,2014,Male,51,MBBS Manipur University,Post Graduate Diploma in Orthopaedics Nagpur U...,tripura
134,2014,Male,56,MBBS University of Sambalpur,MS OrthopaedicsManipur University,tripura
142,2014,Male,63,MBBS University of Kerala,MSOrtho U Calcutta,tripura
381,2015,Male,67,MBBS Dibrugarh University,MS Orthopaedics Calcutta University,tripura
383,2015,Male,47,MBBS Manipur University,MSOrthopaedic Manipur University,tripura
533,2015,Male,37,MBBS Manipur University,MSOrtho Tripura University,tripura
701,2014,Male,66,MBBS Under Dibrugarh University,D Ortho Under Calcutta University,tripura

In [113]:
ortho_indices = df_doc[df_doc['Additional Qualification'].str.contains('Orth')==True].index
for index in ortho_indices:
    list_specialization[index]='Orthopaedics'

#### Dermatology/Venerology/Leprosy

In [114]:
df_doc[df_doc['Additional Qualification'].str.contains('Derm|derm')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
99,2014,Male,37,MBBS LN Mithila University,MDDermatology Venereology Leprosy Manipur Univ...,tripura
373,2014,Female,56,MBBS Utkal University,MD Dermatology Venereology AIIMS New Delhi,tripura

In [115]:
derm_indices = df_doc[df_doc['Additional Qualification'].str.contains('Derm|derm')==True].index
for index in derm_indices:
    list_specialization[index]='Dermatology/Venerology/Leprosy'

#### Pharmacology

In [116]:
df_doc[df_doc['Additional Qualification'].str.contains('Pharm|pharm')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
357,2014,Female,33,MBBS RIMS Manipur University,MD Pharmacology RIMS Manipur University,tripura
578,2015,Male,33,MBBS Manipur University,MDPharmacology Manipur University,tripura

In [117]:
pharm_indices = df_doc[df_doc['Additional Qualification'].str.contains('Pharm|pharm')==True].index
for index in pharm_indices:
    list_specialization[index]='Pharmacology'

####  Anaesthesiology

In [118]:
df_doc[df_doc['Additional Qualification'].str.contains('Anaes|anaes')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
117,2014,Male,50,MBBS Regional Institute of Medical Sciences Im...,Diploma in Anaesthesiology Manipur University,tripura
161,2014,Male,40,MBBS Regional Institute of Medical Sciences Im...,MD Anaesthesiology Tripura University,tripura
216,2014,Male,55,MBBS Regional Institute of Medical Sciences Im...,PG Diploma Anaesthesiology ManipurUniversity,tripura
240,2014,Male,52,MBBS Regional Medical College Imphal Manipur U...,PG Diploma in Anaesthesiology Manipur University,tripura
384,2015,Male,32,MBBS Rani Durgawati Vishwavidyalaya,MD Anaesthesiology Tripura University,tripura
536,2015,Male,44,MBBS Regional Institute of Medical Sciences Im...,MDAnaesthesiology Regional Institute of Medica...,tripura
565,2015,Male,33,MBBS The West Bengal University of Health Scie...,MDAnaes Tripura University,west bengal

In [119]:
anaes_indices = df_doc[df_doc['Additional Qualification'].str.contains('Anaes|anaes')==True].index
for index in anaes_indices:
    list_specialization[index]='Anaesthesiology'

#### Microbiology

In [120]:
df_doc[df_doc['Additional Qualification'].str.contains('Micro|micro')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
232,2014,Male,54,MBBS Manipur University,MDMicrobiology University of Nagpur,tripura
340,2014,Male,35,MBBS Assam Medical College Dibrugarh University,MD Microbiolory Tripura University,tripura
379,2014,Male,48,MBBS Regional Medical College Imphal Manipur U...,MD MicrobiologyMG Institute of Medical Science...,tripura

In [121]:
microbio_indices = df_doc[df_doc['Additional Qualification'].str.contains('Micro|micro')==True].index
for index in microbio_indices:
    list_specialization[index]='Microbiology'

#### Biochemistry

In [122]:
df_doc[df_doc['Additional Qualification'].str.contains('Bio')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
254,2014,Male,42,MBBS Regional Institute of Medical SciencesMan...,MDBioChemistryManipur University,tripura
371,2014,Male,75,MBBS Karnatak University,MD BioChem Manipur University,tripura

In [123]:
biochem_indices = df_doc[df_doc['Additional Qualification'].str.contains('Bio')==True].index
for index in biochem_indices:
    list_specialization[index]='Biochemistry'

#### Public Health

In [124]:
df_doc[df_doc['Additional Qualification'].str.contains('DPH|dph|Publice Health')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
245,2014,Male,62,MBBS Kerala University,DPH University of Calcutta,tripura
292,2014,Male,64,MBBS Lucknow University,DPH Calcutta University,tripura
298,2014,Male,71,MBBS Assam Medical College Dibrugarh University,Diploma in Publice Health University of Calcutta,tripura

In [125]:
dph_indices = df_doc[df_doc['Additional Qualification'].str.contains('DPH|dph|Publice Health')==True].index
for index in dph_indices:
    list_specialization[index]='Public Health'

#### Medicine

In [126]:
df_medicine = df_doc[df_doc['Additional Qualification'].str.contains('Medici|FM')==True]

In [127]:
df_medicine

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
66,2012,Male,61,MBBS from Regional Medical College Imphol Manipur,Diploma in Ophthalmic Medicine Surgery from Ch...,tripura
158,2014,Male,55,MBBS Regional Medical College Imphal Manupur U...,MD Forensic Medicine Manipur University,tripura
159,2014,Male,53,MBBS Regional Medical College Imphal Manupur U...,MDForensic Medicine Nagpur University,tripura
189,2014,Male,62,MBBS Ranchi University,Diploma in Sports Medicine Punjabi University,tripura
203,2014,Male,41,MBBS Regional Institute of Medical Sciences Im...,MD Community MedicineTripura University,tripura
204,2014,Female,32,MBBS Regional Institute of Medical Sciences Im...,MD Community MedicineManipur University,tripura
221,2014,Male,56,MBBS University of Kerala,MD Laboratory MedicineAIIMS New Delhi,tripura
226,2014,Male,56,MBBS Rani Durgavati Vishwavidyalaya,MD General MedicineManipur University,tripura
236,2014,Male,46,MBBS Patna University,MD General MedicineManipur University,tripura
260,2014,Male,51,MBBS SSMedical CollegeAPS University,MDGenMedicinesAPS University,tripura
267,2014,Male,33,MBBSDarbhanga Medical College HospL NMUniversity,MDGenMedicines West Bengal University of Healt...,tripura
282,2014,Male,53,MBBSMGIMSWardhaNagpur University,MD MedicineNagpur University,tripura
285,2014,Male,64,MBBS Bhagalpur University,MD Community Medicine Dibrugarh University,tripura
287,2014,Male,44,MBBS University of Maharshi Dayanand,MD Medicine University of Maharshi Dayanand,tripura
295,2014,Male,62,MBBS Regional Medical Sciences Imphal Manipur ...,MS General Medicine Manipur University,tripura
305,2014,Male,63,MBBS Regional Medical College Imphal Manipur U...,DC P Tropical Medicine Calcutta,tripura
306,2014,Male,46,MBBS University of Health Sciences AP June,MD General Medicine Manipur University,tripura
326,2014,Male,40,MBBS Regional Institute of Medical Sciences Im...,MD Community Medicine Tripura University,tripura
346,2014,Male,40,MBBS DDU Gorakhpur University Gorakhpur,MDGeneral Medicine Banaras Hindu University,tripura
523,2015,Male,57,MBBS Regional Institute of Medical Sciences Im...,MDFMT AIIMS New Delhi,tripura
542,2015,Female,33,MBBS Regional Institute of Medical Sciences Im...,MDGenMedicine Manipur University,tripura
700,2014,Male,65,MBBS Bhagalpur University,Diploma in Sport Medicine Under Panijala Unive...,tripura
708,2014,Male,46,MBBS Regional Institute of Medical Sciences Im...,MD Community Medicine Manupur University,tripura

#### Sports Medicine

In [128]:
df_medicine[df_medicine['Additional Qualification'].str.contains('Sport|sport')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
189,2014,Male,62,MBBS Ranchi University,Diploma in Sports Medicine Punjabi University,tripura
700,2014,Male,65,MBBS Bhagalpur University,Diploma in Sport Medicine Under Panijala Unive...,tripura

In [129]:
spm_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('Sport|sport')==True].index
for index in spm_indices:
    list_specialization[index]='Sports Medicine'

#### General Medicine

In [130]:
df_medicine[df_medicine['Additional Qualification'].str.contains('Gen|gen|MD Med')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
226,2014,Male,56,MBBS Rani Durgavati Vishwavidyalaya,MD General MedicineManipur University,tripura
236,2014,Male,46,MBBS Patna University,MD General MedicineManipur University,tripura
260,2014,Male,51,MBBS SSMedical CollegeAPS University,MDGenMedicinesAPS University,tripura
267,2014,Male,33,MBBSDarbhanga Medical College HospL NMUniversity,MDGenMedicines West Bengal University of Healt...,tripura
282,2014,Male,53,MBBSMGIMSWardhaNagpur University,MD MedicineNagpur University,tripura
287,2014,Male,44,MBBS University of Maharshi Dayanand,MD Medicine University of Maharshi Dayanand,tripura
295,2014,Male,62,MBBS Regional Medical Sciences Imphal Manipur ...,MS General Medicine Manipur University,tripura
306,2014,Male,46,MBBS University of Health Sciences AP June,MD General Medicine Manipur University,tripura
346,2014,Male,40,MBBS DDU Gorakhpur University Gorakhpur,MDGeneral Medicine Banaras Hindu University,tripura
542,2015,Female,33,MBBS Regional Institute of Medical Sciences Im...,MDGenMedicine Manipur University,tripura

In [131]:
genmed_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('Gen|gen|MD Med')==True].index
for index in genmed_indices:
    list_specialization[index]='General Medicine'

#### Community Medicine

In [132]:
df_medicine[df_medicine['Additional Qualification'].str.contains('Comm|com')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
203,2014,Male,41,MBBS Regional Institute of Medical Sciences Im...,MD Community MedicineTripura University,tripura
204,2014,Female,32,MBBS Regional Institute of Medical Sciences Im...,MD Community MedicineManipur University,tripura
285,2014,Male,64,MBBS Bhagalpur University,MD Community Medicine Dibrugarh University,tripura
326,2014,Male,40,MBBS Regional Institute of Medical Sciences Im...,MD Community Medicine Tripura University,tripura
708,2014,Male,46,MBBS Regional Institute of Medical Sciences Im...,MD Community Medicine Manupur University,tripura

In [133]:
commed_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('Comm|com')==True].index
for index in commed_indices:
    list_specialization[index]='Community Medicine'

#### Laboratory Medicine

In [134]:
df_medicine[df_medicine['Additional Qualification'].str.contains('Lab|lab')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
221,2014,Male,56,MBBS University of Kerala,MD Laboratory MedicineAIIMS New Delhi,tripura

In [135]:
labmed_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('Lab|lab')==True].index
for index in labmed_indices:
    list_specialization[index]='Laboratory Medicine'

#### Tropical Medicine

In [136]:
df_medicine[df_medicine['Additional Qualification'].str.contains('trop|Tro')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
305,2014,Male,63,MBBS Regional Medical College Imphal Manipur U...,DC P Tropical Medicine Calcutta,tripura

In [137]:
tropmed_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('trop|Tro')==True].index
for index in tropmed_indices:
    list_specialization[index]='Tropical Medicine'

#### Forensic Medicine/Forensic Medicine and Toxicology

In [138]:
df_medicine[df_medicine['Additional Qualification'].str.contains('For|for|FM')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
158,2014,Male,55,MBBS Regional Medical College Imphal Manupur U...,MD Forensic Medicine Manipur University,tripura
159,2014,Male,53,MBBS Regional Medical College Imphal Manupur U...,MDForensic Medicine Nagpur University,tripura
523,2015,Male,57,MBBS Regional Institute of Medical Sciences Im...,MDFMT AIIMS New Delhi,tripura

In [139]:
fmt_indices = df_medicine[df_medicine['Additional Qualification'].str.contains('For|for|FM')==True].index
for index in fmt_indices:
    list_specialization[index]='Forensic Medicine/Forensic Medicine and Toxicology'

#### Diabetology

In [140]:
df_doc[df_doc['Additional Qualification'].str.contains('Diab')==True]

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State
333,2014,Male,56,MBBSRegional Medical CollegeManipur Univewrsity,PGD In Diabetilogy,tripura

In [141]:
diab_indices = df_doc[df_doc['Additional Qualification'].str.contains('Diab')==True].index
for index in diab_indices:
    list_specialization[index]='Diabetology'

In [142]:
df_doc['Specialization']=pd.Series(list_specialization)

#### Further exploration of other class

In [143]:
df_doc[df_doc['Specialization']=='Other']

,Reg. Year,Sex,Age,Basic Qualification,Additional Qualification,State,Specialization
136,2014,Male,56,MBBS Regional Medical College Imphal Manupur U...,MSManipur University,tripura,Other
171,2014,Male,42,MBBSManipur University,MD Manipur Universisty,tripura,Other
268,2014,Male,36,MBBS BSMedical CollegeCalcutta University,University,tripura,Other
359,2014,Male,30,MBBS Regional Institute of Medical Sciences Im...,MBBS Regional Institute of Medical Sciences Im...,tripura,Other
370,2014,Male,48,MBBS Assam Medical College Dibrugarh University,DPM in Ranchi Unuversity,tripura,Other
449,2015,Male,75,MBBS Andhra University,MS University of Delhi,tripura,Other
535,2015,Male,59,MBBS Sambalpur University,DARegional Institute of Medical Sciences Impha...,tripura,Other
582,2015,Male,67,MBBS Calcutta University,MD Calcutta University,west bengal,Other
685,2013,Male,53,MBBSNERMC Imphal Under Manipur University,MD RIMS Imphal Under Manipur University,tripura,Other
693,2013,Male,65,MBBS BS Mecical Colage Barkura Under Calcutta ...,MD JN Medical Collage Under Karnataka University,tripura,Other
696,2014,Male,42,MBBSBardwan Medical Collage Under Bardwan,MD RIMS Manipur University,tripura,Other
698,2014,Male,32,MBBS Manipur University,MD Manipur University,tripura,Other
727,2014,Male,31,MBBS,MD Physician from Volgograd Medical Academy Ru...,tripura,Other

In [144]:
df_doc[df_doc['Specialization']=='Other'].shape

(13, 7)

In [145]:
df_doc.at[268,'Specialization']=np.NaN
df_doc.at[268,'Additional Qualification']=np.NaN

In [146]:
df_doc.at[359,'Specialization']=np.NaN
df_doc.at[359,'Additional Qualification']=np.NaN

In [147]:
df_doc[df_doc['Specialization']=='Other'].shape

(11, 7)

<h2 align='center'> Analysis </h2>

In [148]:
df_analysis = df_doc[:]

In [149]:
age_series = df_analysis.Age
list_age_group = [np.NaN]*(len(age_series))

for index in age_series.index:
    if age_series[index]<=30:
        list_age_group[index]='30 and below'
    if age_series[index]>30 and age_series[index]<=35:
        list_age_group[index]='31-35'
    if age_series[index]>35 and age_series[index]<=40:
        list_age_group[index]='36-40'
    if age_series[index]>40 and age_series[index]<=45:
        list_age_group[index]='41-45'
    if age_series[index]>45 and age_series[index]<=50:
        list_age_group[index]='45-50'
    if age_series[index]>50 and age_series[index]<=55:
        list_age_group[index]='51-55'
    if age_series[index]>55 and age_series[index]<=60:
        list_age_group[index]='55-60'
    if age_series[index]>60:
        list_age_group[index]='above 60'

In [150]:
df_analysis['Age Group'] = pd.Series(list_age_group).values

In [151]:
pd.pivot_table(df_analysis,index='Reg. Year',columns='Age Group', values='Age',aggfunc=[lambda x:x.count()])

              <lambda>
Age Group 30 and below 31-35 36-40 41-45 45-50 51-55 55-60 above 60
Reg. Year
2012              65.0  89.0   2.0   1.0   NaN   NaN   NaN      3.0
2013              40.0  31.0   3.0   NaN   1.0   1.0   2.0      7.0
2014             101.0  56.0  40.0  36.0  32.0  29.0  29.0     60.0
2015             156.0  14.0   3.0   2.0   1.0   1.0   2.0      6.0
2016               NaN   NaN   1.0   NaN   NaN   NaN   1.0      NaN

In [152]:
def plot_registration_year_wise(df,second_param):
    
    first_param = 'Reg. Year'
    list_years=list(set(df[first_param]))
   
    list_traces = []
    
    for year in list_years:
        trace = go.Bar(x=df[df[first_param]==year][second_param].value_counts().sort_index().keys() ,y=df[df[first_param]==year][second_param].value_counts().sort_index(),name=year)
        list_traces.append(trace)
    
    py.iplot(list_traces)

### Age wise distribution of doctors registered yearly

In [153]:
plot_registration_year_wise(df_analysis,'Age Group')

### Specialization

In [154]:
df_analysis.Specialization.value_counts().iplot(kind='bar')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

#### Physicians with Specializations/Additional Qulaification registered year wise

In [155]:
plot_registration_year_wise(df_analysis,'Specialization')

#### Specialization/Additional Qualification sex ratio

In [156]:
df_analysis.groupby(['Specialization'])['Sex'].value_counts().unstack(1).iplot(kind='bar')

#### Sex ratio of samples with/without any Additional Qualification

In [157]:
df_analysis[df_analysis['Specialization'].isna()!=True]['Sex'].value_counts().iplot(kind='bar')

In [158]:
df_analysis[df_analysis['Specialization'].isna()==True]['Sex'].value_counts().iplot(kind='bar')

### Registration Year

In [159]:
df_analysis.groupby(['Sex'])['Reg. Year'].value_counts().unstack(0).iplot(kind='bar')

In [160]:
df_analysis['Reg. Year'].value_counts().iplot(kind='bar')

In [161]:
df_analysis['Reg. Year'].value_counts().median()

160.0

### Outside Tripura

In [162]:
df_analysis.State.value_counts().to_frame()

                   State
tripura              705
west bengal           25
manipur               19
assam                 14
uttar pradesh          7
haryana                6
kerala                 5
nagaland               5
rajasthan              5
madhya pradesh         4
delhi                  3
tamil nadu             3
mizoram                2
meghalaya              2
arunachal pradesh      2
andhra pradesh         2
jharkhand              1
chandigarh             1
orissa                 1
bihar                  1
gujarat                1
chhattisgarh           1

In [163]:
df_analysis[df_analysis['State']!='tripura'].groupby('Age Group')['State'].value_counts().unstack(0).iplot(kind='bar')

### Basic observations

In [164]:
df_analysis.Sex.value_counts().iplot(kind='bar')

In [165]:
df_analysis['Age Group'].value_counts().iplot(kind='bar')

In [166]:
df_analysis.groupby(['Age Group'])['Sex'].value_counts().unstack(1).iplot(kind='bar')

### Age Statistics

In [167]:
df_analysis.Age.mean()

36.916564417177916

In [168]:
df_analysis.Age.median()

31.0

In [169]:
df_analysis[df_analysis['Sex']=='Male'].median(),df_analysis[df_analysis['Sex']=='Male'].mean()

(Reg. Year    2014.0
 Age            32.0
 dtype: float64, Reg. Year    2013.805415
 Age            39.153976
 dtype: float64)

In [170]:
df_analysis[df_analysis['Sex']=='Female'].median(),df_analysis[df_analysis['Sex']=='Female'].mean()

(Reg. Year    2014.0
 Age            30.0
 dtype: float64, Reg. Year    2013.549107
 Age            31.013393
 dtype: float64)